@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_radio {
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}
.custom_radio:checked {
  background-color: #fff;
  border: 2px solid #00b207;
  border-radius: 50%;
}

.custom_radio:checked ~ span {
  display: block !important;
}

button[aria-checked="true"] div[data-testid="flowbite-toggleswitch-toggle"] {
  background-color: #00b207;
  border-color: #00b207;
}

input[type="checkbox"]:checked {
  background-color: #00b207;
}
